name: mvvm_core_example
description: Example app demonstrating mvvm_core package usage.
publish_to: 'none'

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  mvvm_core:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true